.sliderContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Slider width 80% */
.slider {
  width: 90%;
  margin-top: 30px;
}

.image {
  width: 100%;
  border-radius: 15px;
}

/* Indicator lines */
.indicators {
  display: flex;
  gap: 8px;
  margin-top: 10px;
}

.line {
  width: 30px;
  height: 4px;
  background: #ccc;
  border-radius: 5px;
  transition: 0.3s;
}

.active {
  background: red;
}
